<%= form_for(@education_task) do |f| %>
  <% if @education_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education_task.errors.count, "error") %> prohibited this education_task from being saved:</h2>

      <ul>
      <% @education_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :media %><br>
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
