<%= form_for(@schedule_task) do |f| %>
<div class="jumbotron center">
     <h3>Schedule a New Task</h3>
     
 

  <% if @schedule_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_task.errors.count, "error") %> prohibited this schedule_task from being saved:</h2>

      <ul>
      <% @schedule_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
    <%= f.label :title %><br>
    <%= f.text_field :title,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :media %><br>
    <%= f.text_field :media, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :due_date %><br>
    <%= f.number_field :due_date, class: "form-control" %>
  </div>
  <div class="form-group">

    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

</div>

