<p id="notice"><%= notice %></p>

<h1>Listing schedule Tasks</h1>

    <div class="row mt">
                
                  <div class="col-md-12">

                      <section class="task-panel tasks-widget">
                  
                          <div class="panel-body">
                              
                     

                              <div class=" add-task-row">
                               
<button type="button" class="btn btn-primary success" data-toggle="modal" data-target="#myModal">Login
 </button>
                                  <%= link_to 'New schedule task', new_schedule_task_path, class: "btn btn-success btn-sm " %>
                                 
                              </div>
                          </div>
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row -->
              <div class="row mt">
                
                  <div class="col-md-12">

                      <section class="task-panel tasks-widget">
                  
                          <div class="panel-body">
                            <div class="task-content">

                                  <ul class="task-list">


                      <% @schedule_tasks.each do |schedule_task| %>
                      
                         
                                      <li>
                                          <div class="task-checkbox">
                                              <input type="checkbox" class="list-child" value=""  />
                                          </div>
                                          <div class="task-title">
                                              <span class="task-title-sp" style="font-size:20;"><%= schedule_task.title %></span>
                                            
                                              <div class="pull-right hidden-phone">
                                                  <%= link_to '<button class="btn btn-info btn-xs">
                                                    <i class=" fa fa-search"></i></button>'.html_safe, schedule_task %>
                                                    <%= link_to '<button class="btn btn-success btn-xs">
                                                    <i class=" fa fa-pencil"></i></button>'.html_safe, edit_schedule_task_path(schedule_task) %>
                                                    <%= link_to '<button class="btn btn-primary btn-xs">
                                                    <i class=" fa fa-trash-o"></i></button>'.html_safe, schedule_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                
                                              </div>
                                          </div>
                                      </li>
                    
                      <% end %>




     
          

                                    </ul>
                                  </div>
                                </div>
                              
                                       

                         
                      </section>
                  </div><!-- /col-md-12-->
              </div>



                <!-- Button trigger modal -->


  <!-- Modal -->
  <%= link_to "ModalTest", "#myModal", "data-toggle" => "modal" %>

    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

      </div>
    </div>
</html>
    
<%= link_to "Create New Task", '#', data: {:'reveal-id' => 'signupModal'} %>
<div id="signupModal" class="reveal-modal">
    <%= render 'devise/registrations/new' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

       

