<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @schedule_task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @schedule_task.description %>
</p>

<p>
  <strong>Media:</strong>
  <%= @schedule_task.media %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @schedule_task.due_date %>
</p>

<%= link_to 'Edit', edit_schedule_task_path(@schedule_task) %> |
<%= link_to 'Back', schedule_tasks_path %>
