<%= form_for(@eeducation_task) do |f| %>
  <% if @eeducation_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eeducation_task.errors.count, "error") %> prohibited this eeducation_task from being saved:</h2>

      <ul>
      <% @eeducation_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :media %><br>
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.number_field :due_date %>
  </div>
  <div class="field">
    <%= f.label :complete %><br>
    <%= f.number_field :complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
