<p id="notice"><%= notice %></p>

<h1>Listing Eeducation Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Media</th>
      <th>Due date</th>
      <th>Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eeducation_tasks.each do |eeducation_task| %>
      <tr>
        <td><%= eeducation_task.title %></td>
        <td><%= eeducation_task.description %></td>
        <td><%= eeducation_task.media %></td>
        <td><%= eeducation_task.due_date %></td>
        <td><%= eeducation_task.complete %></td>
        <td><%= link_to 'Show', eeducation_task %></td>
        <td><%= link_to 'Edit', edit_eeducation_task_path(eeducation_task) %></td>
        <td><%= link_to 'Destroy', eeducation_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eeducation task', new_eeducation_task_path %>
