<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @eeducation_task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eeducation_task.description %>
</p>

<p>
  <strong>Media:</strong>
  <%= @eeducation_task.media %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @eeducation_task.due_date %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @eeducation_task.complete %>
</p>

<%= link_to 'Edit', edit_eeducation_task_path(@eeducation_task) %> |
<%= link_to 'Back', eeducation_tasks_path %>
