<%= form_for(@admin_task) do |f| %>
  <% if @admin_task.errors.any? %>
    <div id="error_explanation">
      <h6>Please fill out the following feilds:</h6>

      <ul>
      <% @admin_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




            
            <!-- BASIC FORM ELELEMNTS -->
         
          
                <div class="form-panel">
                     <div class="input-field">
                      <%= f.label :category  %><br><br>


                                <%= f.radio_button :category, 1 %> <%= f.label :category, "Learning",value: 1 %>
                                <%= f.radio_button :category, 2 %> <%= f.label :category, "Getting Started" ,value: 2%>
                                 <%= f.radio_button :category, 3 %> <%= f.label :category, "Milestones",value: 3 %>
                                 <%= f.radio_button :category, 4 %> <%= f.label :category, "Personal", value: 4 %>

                                
                              </div><br>

                          
                        <div class="input-field">
                              <%= f.label :title  %><br>
                              <%= f.text_field :title %>
                        </div>

                        <div class="input-field">
                              <%= f.label :description %><br>
                              <%= f.text_area :description, class: "materialize-textarea" %>
                        </div>
                        

                       
                            
                        <div class="input-field">
                              <%= f.label :media %>

                              <%= f.text_field :media, class: "form-control" %>
                        </div>

                         

                         <div class="row">
        <div class="input-field col s6">
          
          <label for="Days">Days</label>
          <%= f.number_field :due_date, :placeholder => "How Many Days"  %></p>
        </div>
        <div class="input-field col s6">
          <label for="when">When</label><br>

          <p> <%= f.radio_button :when, 1 %> <%= f.label :when, "Before Start Date",value: 1 %>
                                <%= f.radio_button :when, 2 %> <%= f.label :when, " After Start Date" ,value: 2%> </p>
        </div>
      </div>


                          

  <div class="actions ">
                             
                                <input type="submit" value="Update" class="btn btn-success btn-lg" >
                                <%= link_to 'Cancel', admin_tasks_path, class: "btn btn-primary btn-lg" %>
                              
                              </div>
                             

                            


                           


                            
             
            



        

        <% end %>