<% @admin_tasks.order( 'admin_tasks.due_date ASC' ).each do |admin_task| %>



                   
                      <li>
                        <div class="collapsible-header">
                        <div style="float: left;"> 
                              <%= admin_task.title %>  <%= admin_task.category %> 
                          </div>
                          

                          <div style="float: right;">
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>
                                                      


                          </div>
                        </div>

                        <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %></p><br>
                           <p><strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a></p><br>
                          <p><strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>






                        </div>
                      </li>
                      
                    
 





          <%end%>