<p id="notice"><%= notice %></p>

<h1>Create and Update your Onboarding Process</h1>

    <div class="row mt">
                
                  <div class="col-md-12">

                      <section class="task-panel tasks-widget">
                  
                          <div class="panel-body">
                              
                     

                              <div class=" add-task-row">
                                  <%= link_to 'Create a New Task', new_admin_task_path, class: "btn btn-success btn-sm " %>
                                  
                              </div>
                          </div>
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row -->
              <div class="row mt">
                
                  <div class="col-md-12">

                      <section class="task-panel tasks-widget">
                  
                          <div class="panel-body">
                            <div class="task-content">

                                  <ul class="task-list">


                      <% @admin_tasks.each do |admin_task| %>
                      
                         
                                      <li>
                                          <div class="task-checkbox">
                                              <input type="checkbox" class="list-child" value=""  />
                                          </div>
                                          <div class="task-title">
                                              <span class="task-title-sp" style="font-size:20;"><%= admin_task.title %></span>
                                              <span class="<%= 'badge bg-theme' if admin_task.media == "admin" %>


                                                <%= 'badge bg-warning' if admin_task.media == "learning" %> 


                                                <%= 'badge bg-success' if admin_task.media == "Other" %>">

                                                <%= admin_task.media %></span>

                                                 
                                              <div class="pull-right hidden-phone">
                                                  <%= link_to '<button class="btn btn-info btn-xs">
                                                    <i class=" fa fa-search"></i></button>'.html_safe, admin_task %>
                                                    <%= link_to '<button class="btn btn-success btn-xs">
                                                    <i class=" fa fa-pencil"></i></button>'.html_safe, edit_admin_task_path(admin_task) %>
                                                    <%= link_to '<button class="btn btn-primary btn-xs">
                                                    <i class=" fa fa-trash-o"></i></button>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                
                                              </div>
                                          </div>
                                      </li>
                    
                      <% end %>




     
          

                                    </ul>
                                  </div>
                                </div>
                              
                                       

                         
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row 




       

