

<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
              <div class="card-content">
                    <p><strong>Title:</strong> <%= @admin_task.title %> </p>
                </div>
                
                <div class="card-content">
                    <p> <strong>Description:</strong> <%= @admin_task.description %></p><p><strong>Media:</strong> <%= @admin_task.media %></p>  

                    <p> <strong>Category:</strong> <%= @admin_task.category %></p>
                     <p> <strong>When:</strong> <%= @admin_task.when %></p>
                </div>
                 

              
                   


                <div class="card-action">
                   
                    <%= link_to 'Edit', edit_admin_task_path(@admin_task), class: "btn btn-success btn-lg" %>
                    <%= link_to 'Save', admin_tasks_path, class: "btn btn-primary btn-lg" %>
                    
                </div>
            </div>
        </div>
    </div>
</div>



