<p id="notice"><%= notice %></p>




<h1>Listing EAdmin Tasks</h1>

    <div class="row mt">
                
                  <div class="col-md-12">

                      <section class="task-panel tasks-widget">
                  
                     
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row -->
              <div class="row mt">
                
                  <div class="col-md-12">

                      <section class="task-panel tasks-widget">
                  
                          <div class="panel-body">
                            <div class="task-content">

                                  <ul class="task-list">


                      <% @eadmin_tasks.each do |eadmin_task| %>
                      
                         
                                      <li>
                                          <div class="task-checkbox">
                                              <input type="checkbox" class="list-child" value=""  />
                                          </div>
                                          <div class="task-title">
                                              <span class="task-title-sp" style="font-size:20;"><%= eadmin_task.title %></span>
                                            
                                              <div class="pull-right hidden-phone">
                                                  <%= link_to '<button class="btn btn-info btn-xs">
                                                    <i class=" fa fa-search"></i></button>'.html_safe, eadmin_task %>
                                                    <%= link_to '<button class="btn btn-success btn-xs">
                                                    <i class=" fa fa-pencil"></i></button>'.html_safe, edit_eadmin_task_path(eadmin_task) %>
                                                    <%= link_to '<button class="btn btn-primary btn-xs">
                                                    <i class=" fa fa-trash-o"></i></button>'.html_safe, eadmin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                
                                              </div>
                                          </div>
                                      </li>
                    
                      <% end %>




     
          

                                    </ul>
                                  </div>
                                </div>
                              
                                       

                         
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row >






       

