


 <div class="row">
      
      <div class="col s6" style="float: left;"> <h5> Your Onboarding Process</h5>
           
      </div>

      <div class="col s6">

      <div style="float: right; margin-top:10px;"> <%= link_to 'Create a New Task', new_admin_task_path, class: "btn btn-success btn-lg" %> 
      </div>

    
    </div>
  </div>


  
 
    <div class="col s12">
      <ul class="tabs" id="tabs">
        <li class="tab col s3" ><a class="active" href="#tabs-1">Learning</a></li>
        <li class="tab col s3"><a  href="#tabs-2">Setting Up</a></li>
        <li class="tab col s3"><a href="#tabs-3">Milestones</a></li>
        <li class="tab col s3"><a href="#tabs-4">Personal Survey</a></li>
      </ul>
    </div>
<div class="items">
    <div id="tabs-1" class="col s6 ">
      <h5>Before Start Date</h5>
      <!-- First one Ruby Code-->
      <ul class="collapsible" data-collapsible="accordion">

         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

     


                   
                      <li>
                        <div class="collapsible-header ">
                        
                           <p>
                           
                             
                           <strong><%= eadmin_task.title %>  </strong>

                          
                                 </p>
                                                      


                        </div>

                        <div class="collapsible-body">

                          <p>
                            <strong>Description:</strong><%= eadmin_task.description %><br><br>
                           <strong>Media: </strong><a href="http://<%= eadmin_task.media %> "><%= eadmin_task.media %> </a><br><br>
 Start.</p>






                        </div>
                      </li>
                      
                    
          




          <%end%>
           </ul>





    </div><!-- END -->










