    <div class="row">
                <div class="col s12">

                   <% completed = current_user.eadmin_tasks.where("completed = ?", 1).count.to_i%>
        <% not_completed = current_user.eadmin_tasks.count.to_i%>


          <% total =  (completed.to_f / not_completed ) * 100 %>

        


                  <h3 class="center"> My Onboarding  </h3><br>
                  <h5 class="center">Progress</h5>
                  <h5 class="center"><%= total %></h6>
                    <div class="progress center">
                          <div class="determinate" style="width: <%= total.round %>"></div>
                      </div>
       
                </div>
               <div class="col s12">
                    <ul class="tabs" id="tabs">
                      <li class="tab col s3" ><a class="active" href="#tabs-1">Learning</a></li>
                      <li class="tab col s3"><a  href="#tabs-2">Setting Up</a></li>
                      <li class="tab col s3"><a href="#tabs-3">Milestones</a></li>
                      <li class="tab col s3"><a href="#tabs-4">Personal Survey</a></li>
                    </ul>
                  </div>



                   <div class="items">
                    <div id="tabs-1">

                      <div class="col s6 left"> 
                  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">Before You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                        

                              <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                

                                   
                                        
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>

          </div>



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Learning" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">done</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>




                      
                    </div><!-- END -->

                    <div class="items">
                    <div id="tabs-2" >

                      <div class="col s6 left"> 
                  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">Before You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Setting Up" && eadmin_task.when_due == "Before" %>

                              <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">done</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Description: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>

          </div>



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Setting Up" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">done</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>





                      
                    </div><!-- END -->

                    <div class="items">
                    <div id="tabs-3" >

                      <div class="col s6 left"> 
                  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">Before You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Milestones" && eadmin_task.when_due == "Before" %>

                              <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">done</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Description: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>

          </div>



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Milestones" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">done</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>


                      
                    </div><!-- END -->

                    <div class="items">
                    <div id="tabs-4" >

                      <div class="col s6 left"> 
                  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">Before You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Personal Survey" && eadmin_task.when_due == "Before" %>

                              <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">done</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Description: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>

          </div>



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Personal Survey" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="color: red"class="material-icons large icon-demo ">remove_circle</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">done</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <strong> Media: </strong><a href="http://<%= eadmin_task.media %>"><%= eadmin_task.media %></a> <br> <br>
                                      <strong> Due Date:</strong>  <%= due_month = eadmin_task.created_at.strftime("%m")  %>/
                                                           <% due_day = eadmin_task.created_at.strftime("%d") %>
                                                           
                                                           <% due_day.to_i %>
                                                           <% x = eadmin_task.due_date  %>
                                                         
                                                           <%= due_day.to_i  + x.to_i %>/

                                                           <%= due_year = eadmin_task.created_at.strftime("%y") %></p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>


                      
                  </div><!-- END -->





