<!DOCTYPE html>
<html>
<head>
  <title>Onerocketing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<% if user_signed_in? %>
	<%= render 'layouts/header' %>
  <% else %>
  <%= render 'layouts/headersignin' %>
   <% end %>

	<div class="container-fluid">
  <div class="row-fluid">
   
    <div class="col-md-10 col-md-offset-2">
      	
		<% flash.each do |name, msg| %> 

     <%= content_tag(:div, msg, class: "alert alert-info" ) %>


	    <% end %>

	<%= yield %>
    </div>
  </div>
</div>


</body>
<!-- Modal -->
    <div id="myModalTest" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-      dismiss="modal">Close</button>
            </div>
        </div>

      </div>
    </div>
</html>
