
<html>
<head>
  <title>Onerocketing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if user_signed_in? %>
  <%= render 'layouts/header' %>
  <% else %>
  <%= render 'layouts/headersignin' %>
   <% end %>

   <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>



  <div class="container">
          <%= yield %>
     </div>
  </div>
</div>


</body>
<!-- Modal -->

    </html>
